{% extends "base_manage.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/toastr.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/imgareaselect-default.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/create.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename= 'js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/toastr.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/jquery.imgareaselect.pack.js') }}"></script>
{% endblock %}

{% block title %}极光宝盒-编辑集成{% endblock %}

{% block navbar %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row-fluid">
            {% for message in get_flashed_messages() %}
                <div class="alert alert-warning">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% endfor %}
            <div id="edit_form" class="col-lg-8 col-lg-offset-2" style="padding: 10px;">
                <h3 id="token_h3">webhook:api.jobx.com/{{ integration_id }}/{{ token }}</h3>
                <button id="regenerate_token" class="btn btn-warning btn-middle" type="button">重新生成 token</button>
                <h3><span class="label label-info" style="padding: 10px;">应用名</span></h3>
                <input id="name" title="应用名" style="margin-top: 5px; width: 100%; height: 46px; font-size: large"
                       type="text" value="{{ name }}"/>
                <h3><span class="label label-info" style="padding: 10px;">应用描述</span></h3>
                <input id="description" title="应用描述"
                       style="margin-top: 5px; width: 100%; height: 46px; font-size: large"
                       type="text" value="{{ description }}"/>
                <div class="dropdown" style="margin-top: 10px">
                    <button class="btn btn-default dropdown-toggle" type="button" id="channel_dropdown"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span id="drop_down_title">{{ channel }}</span>
                        <span class="caret"></span>
                    </button>
                    <input id="input_hidding" type="hidden" value="{{ channel }}">
                    <ul id="content" class="dropdown-menu">
                        {% for channel in channels %}
                            <li id="{{ channel }}" class="channel_class"><a>{{ channel }}</a></li>
                        {% endfor %}
                    </ul>
                    <a class="btn btn-link" style="color: #2ab27b;" role="button" data-toggle="collapse"
                       href="#channel_collapse"
                       aria-expanded="false" aria-controls="channel_collapse">新建 Channel</a>
                </div>
                <div class="collapse" id="channel_collapse" style="margin-top: 20px">
                    <input id="new_channel" class="input-lg" type="text"
                           style="width: 60%; height: 46px; font-size: large"
                           placeholder="输入 channel"/>
                    <button id="create_channel" title="新建Channel" class="btn-lg btn-info" type="button">创建 Channel
                    </button>
                </div>
                <form id="uploadform" method="post" enctype="multipart/form-data" style="margin-top: 10px">
                    <label for="file">上传自定义集成标志</label>
                    <input name="file" type="file">
                    <div style="margin-top: 10px; margin-bottom: 20px">
                        <img id="icon" src="/static/images/{{ icon }}" title="icon">
                    </div>
                    <button id="upload" class="btn-lg" type="button">上传</button>
                </form>
                <p>Result Filename:&nbsp;<span id="resultFilename"> here</span></p>
                <p>Result Filesize:&nbsp;<span id="resultFilesize">here</span></p>
                <div style="margin-top: 10px">
                    <input id="submit" type="submit" value="保存设置" class="btn-lg"
                           style="position: absolute; left: 10px; background-color: #2ab27b; color: #ffffff;">
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-center",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "3000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };

        $(document).ready(function () {
            $('#name').val("{{ name }}");
            $('#description').val("{{ description }}");
            $("input[type='file']").change(function () {
                previewImage(this);
            });
            $("#upload_area").find("a").click(function () {
                document.edit_form.picpath.click();
            });
            if (!+[1,]) {
                $('#upload_area').find("a").hide();
                $("#upload_area").find("input[type='text']").hide();
                $("#picpath").css({
                    width: "240px",
                    height: "20px",
                    filter: "alpha(opacity=100)"
                });
            }
            bindClick();
        });

        $(window).load(function () {
            $('#icon').imgAreaSelect({
                handles: true,
                aspectRatio: '1:1',
                show: true,
                resizable: true,
                autoHide: false,
                maxHeight: 200,
                maxWidth: 200,
                minHeight: 100,
                minWidth: 100,
                {#                onSelectChange: preview#}
            });
        });

        {#        $('<div><img id="view" src="#" style="position: relative;"/></div>')#}
        {#                .css({#}
        {#                    float: 'left',#}
        {#                    position: 'relative',#}
        {#                    overflow: 'hidden',#}
        {#                    width: '100px',#}
        {#                    height: '100px'#}
        {#                }).insertAfter('#icon');#}

        $('#regenerate_token').click(function () {
            $.ajax({
                type: "PUT",
                contentType: "application/json; charset=utf-8",
                url: "/api.jbox.jiguang.cn/v1/{{ integration_id }}/token",
                success: function (data) {
                    if (data != undefined) {
                        $('#token_h3').text("webhook:api.jobx.com/{{ integration_id }}/" + data['token']);
                        toastr.success("已重新生成 token");
                    }
                },
                error: function (error) {
                    console.log(error);
                    toastr.error("生成 token 失败")
                }
            })
        });

        $('#create_channel').click(function () {
            var new_channel = $('#new_channel').val();
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "/api.jbox.jiguang.cn/v1/developers/{{ dev_key }}/channels",
                data: JSON.stringify({channel: new_channel}),
                success: function (data) {
                    if (data != undefined) {
                        if (data["created"]) {
                            toastr.success("创建成功");
                            $('#content').append('<li id="' + new_channel + '" class="channel_class"><a>'
                                    + new_channel + '</a></li>');
                            bindClick();
                        }
                    } else {
                        toastr.success("已存在 channel");
                    }
                },
                error: function (error) {
                    console.log(error);
                    toastr.error("创建失败");
                },
                dataType: "json"
            });
        });

        function bindClick() {
            $('ul li').each(function () {
                $(this).bind('click', function () {
                    $('#drop_down_title').text(this.id);
                    $('#input_hidding').val(this.id);
                    console.log($('#input_hidding').val())
                })
            });
        }

        function preview(img, selection) {
            var scaleX = 100 / (selection.width || 1);
            var scaleY = 100 / (selection.height || 1);

            //动态小头像 获取当前选中框的宽度，高度，左边框，右边框
            $('#view').css({                          //view是预览图像的id
                width: Math.round(scaleX * 300) + 'px',
                height: Math.round(scaleY * 220) + 'px',
                marginLeft: '-' + Math.round(scaleX * selection.x1) + 'px',
                marginTop: '-' + Math.round(scaleY * selection.y1) + 'px'
            });
        }

        function previewImage(file) {
            var porImg = $('#icon'),//首先获取大图片jquery对象
                    viewImg = $('#view');//小图片jquery对象
            //判断该浏览器是否为w3c标准，既非IE浏览器
            if (file["files"] && file["files"][0]) {
                //使用JavaScript的FileReader对象来读取本地数据，并且将数据结果赋值给image的src，具体该对象如何实现的还未深入研究
                var reader = new FileReader();
                reader.onload = function (evt) {
                    porImg.attr({src: evt.target.result});
                    viewImg.attr({src: evt.target.result});
                };
                reader.readAsDataURL(file.files[0]);
            }
            //如果是IE浏览器，采用滤镜效果，进行显示，但特别注意的是该滤镜效果使用的对象是div对象，并非img对象，因此我们需要将原有的img对象
            // remove同时生成新的div对象，并且赋值相应的class和id
            else {
                //创建需要滤镜显示的div的dom对象
                var ieImageDom = document.createElement("div");
                var proIeImageDom = document.createElement("div");
                //设置对象的css属性和原有的img对象属性相同，添加相应的id属性值
                $(ieImageDom).css({
                    float: 'left',
                    position: 'relative',
                    overflow: 'hidden',
                    width: '100px',
                    height: '100px'
                }).attr({"id": "view"});
                $(proIeImageDom).attr({"id": "icon"});
                //删除原有img对象，append创建div的dom对象
                porImg.parent().prepend(proIeImageDom);
                porImg.remove();
                viewImg.parent().append(ieImageDom);
                viewImg.remove();
                //采用滤镜效果生成图片预览
                file.select();
                path = document.selection.createRange().text;
                $(ieImageDom).css({"filter": "progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true',sizingMethod='scale',src=\"" + path + "\")"});
                $(proIeImageDom).css({"filter": "progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true',sizingMethod='scale',src=\"" + path + "\")"});
            }
        }

        $('#upload').click(function () {
            event.preventDefault();
            var form_data = new FormData($('#uploadform')[0]);
            $.ajax({
                type: 'POST',
                url: '/auth/uploadajax',
                data: form_data,
                contentType: false,
                processData: false,
                dataType: 'json'
            }).done(function (data, textStatus, jqXHR) {
                toastr.success('上传成功');
                $("#resultFilename").text(data['name']);
                $("#resultFilesize").text(data['size']);
            }).fail(function (data) {
                toastr.error('上传失败!');
            });
        });

        $('#submit').click(function () {
            var name = $('#name').val();
            var desc = $('#description').val();
            var path = $('#resultFilename').text();
            var channel = $('#input_hidding').val();
            $.ajax({
                type: "PUT",
                contentType: "application/json; charset=utf-8",
                url: "/api.jbox.jiguang.cn/v1/developers/{{ dev_key }}/{{ integration_id }}",
                data: JSON.stringify({name: name, description: desc, icon: path, channel: channel}),
                success: function (data) {
                    toastr.success("保存成功");
                    window.location.href = '/auth/manage'
                },
                error: function (error) {
                    console.log(error);
                    toastr.error("保存失败");
                },
                dataType: "json"
            });
        })
    </script>
{% endblock %}