{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}极光宝盒-创建集成{% endblock %}

{% block content %}
    <div class="col-lg-2">

    </div>
    <div class="col-lg-4">
        <div>
            <h3><span class="label label-info">应用名</span></h3>
            <input title="应用名" class="input-lg" type="text" style="margin-left: 10px" name="integration_name"/>
        </div>
        <div>
            <span>应用描述</span>
            <input title="应用描述" class="input-lg" type="text" name="integration_desc"/>
        </div>
        <div>
            <select title="选择一个channel">

            </select>
        </div>
        <div>
            <button title="新建Channel" class="btn-lg btn-info" type="button"></button>
        </div>
        <button class="btn-lg bg-success" onclick="">添加自定义集成</button>
    </div>
{% endblock %}