{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/toastr.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/imgareaselect-default.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/send_to_channel.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename= 'js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/toastr.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/jquery.imgareaselect.pack.js') }}"></script>
{% endblock %}

{% block title %}消息{% endblock %}

{% block navbar %}
    <div id="navigationbar">{{ super() }}</div>
{% endblock %}

{% block content %}
    <div class="container">
        <p class="main-title">消息控制台</p>
    </div>
    <div class="container" style="border-width: 1px;">
        <div class="content-body">
            <div class="row">
                <p class="sub-title">选择要发送到的频道</p>
            </div>
            <div class="row">
                <div class="input-group">
                    <input id="selected_channel" type="text" class="form-control" aria-label="..."
                           placeholder="{{ channel }}">
                    <input id="input_hidding" type="hidden" value="{{ channel }}">
                    <div class="input-group-btn">
                        <button id="show_channels" type="button" class="btn btn-default dropdown-toggle"
                                data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
                        <ul class="dropdow n-menu dropdown-menu-right">
                            {% for channel in channels %}
                                <li id="{{ channel }}" class="channel_class"><a>{{ channel }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top: 40px">
                <p class="sub-title">输入要发送的消息</p>
            </div>
            <div class="row">
                <input id="title-input" placeholder="Your title">
            </div>
            <div class="row">
                <div class="message-content">
                    <div class="row">
                        <textarea id="message-input" placeholder="message"></textarea>
                    </div>
                    <button id="send-btn">发送</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        {{ super() }}
    </div>
    <script type="text/javascript">
        $('#send-btn').click(function () {
            console.log($('#input_hidding').val());
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "/v1/message/{{ channel }}",
                data: JSON.stringify({
                    title: $('#title-input').val(),
                    message: $('#message-input').val()
                }),
                success: function (data) {
                    if (data != undefined) {
                        if (data["created"]) {
                            toastr.success("发送成功");
                        }
                    } else {
                        toastr.success("已存在 channel");
                    }
                },
                error: function (error) {
                    console.log(error);
                    toastr.error("发送失败");
                },
                dataType: "json"
            });
        })
    </script>
{% endblock %}