body {
    background: url("../images/application-background.png") no-repeat;
    -webkit-background-size: 100%;
    /*background-size: 100%;*/
    background-color: #00C4CC;
}

.content {
    display: flex;
    flex-flow: column nowrap;
    /*width: 100%;*/
    /*height: 100%;*/
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 349px;
}

.row-layer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.column-layer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#layer1 {
    margin-top: 0px;
    /*margin: 0px;*/
    margin-left: 0px;
    margin-right: 0px;
    height: 402px;
    background-color: #002840;
}

#cloud1x {
    align-self: flex-end;
    margin-top: 42px;
    margin-right: 51px;
    /*margin-bottom: -132px;*/
}

#cloud-big {
    /*margin-left: 100px;*/
    margin-bottom: -232px;
    margin-right: 100px;

}

#iceberg {
    margin-bottom: -132px;
}

#cloud1_5x {
    margin-bottom: -132px;
}

#download-title {
    font-size: 48px;
    color: #FFFFFF;
    align-self: center;
    margin-left: 60px;
    margin-top: 96px;
}

.icon-background {
    background: rgba(0, 0, 0, 0.50);
    width: 250px;
    height: 188px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

#ios {
    margin-top: 90px;
    margin-left: 60px;
}

#android {
    margin-left: 126px;
    margin-top: 90px
}

