body {
    background: url("../images/application-background.png") no-repeat;
    -webkit-background-size: 100%;
    background-color: #00C4CC;
}

.content {
    display: flex;

    flex-flow: column nowrap;
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 349px;
}

.row-layer {
    display: flex;

    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.row-img {
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
    height: 358px;
    background: rgba(0, 0, 0, 0.50);
}

.mainImage-Container {
    text-align: center;
    margin-bottom: -100px;
}

.mainImage {
    margin-top: 100px;
    width: 100%;
    max-width: 1072px;
}
.column-layer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#layer1 {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    height: 402px;
    background-color: #002840;
}

#cloud1x {
    align-self: flex-end;
    margin-top: 42px;
    margin-right: 51px;
}

#cloud-big {
    margin-bottom: -232px;
    margin-right: 100px;

}

#iceberg {
    margin-bottom: -132px;
}

#cloud1_5x {
    margin-bottom: -132px;
}

#download-title {
    font-size: 48px;
    color: #FFFFFF;
    align-self: center;
    margin-left: 60px;
    margin-top: 96px;
}

.icon-background {
    background: rgba(0, 0, 0, 0.50);
    width: 250px;
    height: 188px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#ios {
    /*margin-top: 90px;*/
    /*margin-left: 60px;*/
    /*text-align: center;*/
    /*align-content: center;*/
}

#android {
    /*margin-left: 126px;*/
    /*margin-top: 90px*/
}

#navigationbar {
    margin-left: 0;
    margin-right: 0;
    margin-top: -20px;
    height: 96px;
    background: rgba(0, 0, 0, 0.50);
}