.navigator {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.base-navigator {
    position: absolute;
    top: 23px;
    height: 59px;
}

.left-navigator {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    margin-left: 21px;
}

#logo {
    width: 64px;
    height: 59px;
    z-index: 2;
}

#jbox {
    font-size: 45px;
    color: #FFFFFF;
}

.jbox-font {
    font-family: "PingFang SC-Semibold";
    letter-spacing: 0;
}

.right-navigator {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    margin-right: 123px;
}

.nav-font {
    font-size: 18px;
    color: #FFFFFF;
    margin-right: 30px;
}

#manage {
    font-size: 18px;
    color: #FFFFFF;
    margin-right: 20px;
}

#logout {
    font-size: 18px;
    color: #FFFFFF;
}

#login {
    font-size: 18px;
    color: #FFFFFF;
}

#nav-divider {
    width: 2px;
    height: 25px;
    background: #ffffff;
    margin-right: 23px;
}

.row {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.column {
    display: flex;
    flex-flow: column;
}

.span-title {
    font-size: 24px;
    color: #464646;
}

.span-desc {
    font-size: 20px;
    color: #595959;
    box-shadow:none;
}

.divider {
    margin: 42px 50px 64px 50px;
}

.upload {
    float: left;
    background: #FFFFFF;
    border: 1px solid #979797;
    border-radius: 5px;
    width: 122px;
    height: 45px;
    position: relative;
    margin-left: 41px;
    margin-right: 108px;
}

.upload-content {
    color: #595959;
    font-size: 20px;
    padding-top: 12px;
    text-align: center;
    font-weight: 800;
}

.upload-btn {
    margin-left: 15px;
}

.inputstyle {
    width: 122px;
    height: 45px;
    cursor: pointer;
    font-size: 30px;
    outline: medium none;
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
}

#dev_name {
    margin-right: 23px;
    font-size: 18px;
    color: #FFFFFF;
}

#avatar {
    margin-right: 14px;
}

.manage-navigator-right {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    margin-right: 50px;
}