.manage-navigator {
    height: 106px;
    padding-right: 20px;
    background: #526A4A;
}

#manage-background {
    background: #a6d595;
    height: 472px;
    width: 100%;
}

.manage-navigator-right {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}

#manage-btn {
    background:rgba(215,215,215,0.00);
    border:1px solid #ffffff;
    border-radius:12px;
    width:68px;
    height:38px;
    margin-right: 32px;
    font-family: "PingFang SC-Semibold";
    font-size: 18px;
    color: #FFFFFF;
}

#avatar {
    margin-right: 14px;
}

#dev_name {
    font-size: 18px;
    color: #FFFFFF;
}