#navigationbar {
    margin-left: 0;
    margin-right: 0;
    margin-top: -20px;
    height: 96px;
    background-color: #7C7C7C;
    color: #000000;
    z-index: 1000;
}

#content {
    background: #F9F9F9;
    width: 100%;
    height: 100%;
}

#title {
    font-size: 36px;
    color: #464646;
    margin-top: 46px;
    text-align: left;
}

#edit_form {
    background: #ffffff;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.50);
    border-radius: 6px;
    padding-bottom: 142px;
}

.row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.span {
    margin-left: 50px;
}

.input-group {
    display: flex;
    margin-left: 29px;
    margin-top: 17px;
    flex: 2;
}

#qrcode-content {
    flex: 1;
    margin-top: 47px;
    align-content: center;
}

#qrcode {
    margin-left: 72px;
    margin-right: 72px;
}

#qrcode-desc {
    font-size: 20px;
    color: #595959;
    margin-top: 13px;
    margin-left: 25px;
}

.j-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#github_override {
    align-self: center;
    justify-content: center;
}

.description {

    margin-top: 20px;
    border-radius:5px;
    border-style: solid;
    border-width: 1px;
    border-color: #979797;
    height: 47px;
    padding: 10px;
    margin-left: 0;
    margin-right: 0;

    width: 100%;
}

#selector-div {
    /*flex: 1;*/
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

.repo-select {
    /*width: 100%;*/
    width: 700px;
    margin-left: 0;
    margin-right: 0;;
    margin-top: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-width: 1px;
    border-color: #979797;
    padding: 5px;
    font-family: "PingFang SC-Semibold";
    font-size: 20px;
    color: #595959;
}

.repo-select:hover {
    border-color: #83caff;
}

#token {
    padding: 10px;
    font-size: 20px;
    border: 1px solid #979797;
    border-radius: 5px;
    word-wrap: normal;
    word-break: normal;
    margin-left: 29px;
    margin-right: 77px;
    max-width: 813px;
}

#check-api {
    position: relative;
    margin-left: 34px;
}

#regenerate {
    margin-right: 161px;
}

#link-content {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.link {
    font-size: 20px;
    color: #40a4e0;
    border: 0 hidden;
    box-shadow:none;
}

#integration-content {
    display: flex;
    flex-flow: row;
    align-items: center;
}

#select-file {
    margin-left: 41px;
    margin-right: 20px;
}

#icon {
    width: 180px;
    height: 180px;
}

#submit {
    background: #64b868;
    border-radius: 5px;
    padding: 13px 20px 13px 20px;
    text-align: center;
    font-size: 24px;
    color: #FFFFFF;
    border: 0 hidden;
    box-shadow:none;
}

#submit:hover {
    background: #155c2f;
}

#delete {
    background: #f44336;
    border-radius: 5px;
    padding: 13px 20px 13px 20px;
    font-size: 24px;
    color: #FFFFFF;
    border: 0 hidden;
    box-shadow:none;
}

#delete:hover {
    background: #aa2c2b;
}

.description-div {
    width: 280px;
}

