#navigationbar {
    margin-left: 0;
    margin-right: 0;
    margin-top: -20px;
    height: 96px;
    background-color: #13081B;
    color: #000000;
    z-index: 1000;
}

.content {
    width: 100%;
    height: 100%;
}

#discourse-icon-area {
    background: #ffffff;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.50);
    border-radius: 5px;
    width: 232px;
    height: 356px;
    margin-top: 103px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#discourse-icon {
    width: 147px;
    height: 147px;
    margin-right: 43px;
    margin-left: 43px;
    margin-top: 33px;
}

#discourse-icon-title {
    color: #595959;
    font-size: 18px;
    margin-top: 20px;
}

#add-discourse-integration {
    margin-top: 36px;
    padding: 10px 15px 10px 15px;
    background:#64B868;
    border-radius:5px;
    font-family: "PingFang SC-Semibold";
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    align-self: center;
    border: 0 hidden;
    box-shadow:none;
}

#add-discourse-integration:hover {
    background: #3f7d3f;
}

#description {
    margin-top: 103px;
    margin-left: 53px;
}

#desc-title {
    color: #595959;
    font-size: 36px;
    text-align: left;
}

.desc-content {
    color: #595959;
    font-size: 20px;
    text-align: left;
}

#table-area {
    background: #ffffff;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    min-height: 200px;
    margin-top: 116px;
    margin-right: 78px;
}

.row {

}

#discourse-integration-content {
    padding: 40px 76px 21px 40px;
}

.integration-desc {
    margin-left: 19px;
    margin-right: 19px;
    margin-top: 10px;
}

#divider {
    margin-left: 30px;
    margin-right: 30px;
}

.bold {
    font-weight: bold;
    margin-top: 10px;
}