body {
    background-color: #f9f9f9;
}
#navigationbar {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    height: 106px;
    background-color: #000000;
    color: #000000;
    opacity:0.5;
    z-index: 1000;
}

#mainTitle {
    margin-top: 0px;
    /*horiz-align: center;*/
}

#contentBody {
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 52px;
    height: 1000px;
    margin-bottom: 158px;
    padding-bottom: 100px;
}

#content {
    background-color: #FFFFFF;
    justify-content: center;
    border-radius: 6px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .08);
    border: 1px solid #d8d8d8;
    padding-bottom: 100px;
}

.codeBody {
    background-color: #F0F0F0;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    /*align-content: center;  */
    padding: 30px 30px 30px 30px;
    text-align: left;
    font-size: 14px;
}

.subTitle {
    margin-top: 23px;
    margin-left: 37px;
    font-size: 20px;
}

.apiTitle {
    margin-top: 23px;
    margin-left: 37px;
    font-size: 20px;
}

.requiredText {
    margin-top: 15px;
    margin-left: 37px;
    font-size: 14px;
}

.exampletitle {
    margin-top: 15px;
    margin-left: 37px;
    font-size: 16px;
}