.content-text {
    /*display: flex;*/
    align-self: center;
    margin-top: 127px;
}

#description {
    font-size: 36px;
    color: #FFFFFF;
    text-align: center;
}

#jbox-bear {
    margin-top: 69px;
    align-self: center;
}

#navigationbar {
    /*margin-left: 0;*/
    /*margin-right: 0;*/
    width: 100%;
    margin-top: -20px;
    background-color: #50abd1;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritance from `body` */
    background-color: #fff;
    border: 1px solid #fff;
}

body {
    text-align: center;
    height: 100%;
}

.container-fluid {
    width: 100%;
}

.first-layer {
    padding-top: 100px;
    background-color: #50abd1;
    padding-bottom: 25px;
}

.second-layer {
    padding-top: 100px;
    padding-bottom: 100px;
    background: #f9f9f9;
}

.section-title {
    font-weight: bold;
    font-size: 36px;
    color: #444444;
    margin-bottom: 100px;
}

.section-desc {
    font-size: 20px;
    color: #444444;
}

.section-subtitle {
    font-weight: bold;
    font-size: 30px;
    color: #444444;
    margin-top: 50px;
    margin-bottom: 20px;
}

.third-layer {
    padding-top: 80px;
    padding-bottom: 80px;
    background: #ecfcff;
}

.ul-desc {
    padding-top: 10px;
    text-align: left;
    font-weight: bold;
    font-size: 30px;
}

.icon {
    padding-bottom: 40px;
    padding-top: 10px;
    padding-left: 0;
}

.desc {
    padding-left: 0;
}

.section-desc-spec {
    font-size: 20px;
    color: #444444;
    text-align: left;
    padding-top: 10px;
}

/*
 * Footer
 */

.mastfoot {
    color: #999; /* IE8 proofing */
    color: rgba(255, 255, 255, .5);
}

