#navigationbar {
    margin-left: 0;
    margin-right: 0;
    margin-top: -20px;
    height: 96px;
    background-color: #13081B;
    color: #000000;
    z-index: 1000;
}

.tp-background {
    display: flex;
    flex-flow: row;
    background: #271137;
    height: 472px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#background-img {
    width: 594px;
    height: 430px;
    align-self: flex-end;
}

.content {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 100%;
}

#add-tp-title {
    color: #5F5F5F;
    font-size: 36px;
    align-self: center;
    margin-top: 70px;
}

#tp-table {
    margin: 62px 242px 191px 242px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.tp-content {
    background: #FFFFFF;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.50);
    width: 232px;
    height: 247px;
    line-height: 60px;
    margin-right: 60px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    color: #595959;
    font-size: 18px;
    border: 0 hidden;
}

.tp-content:hover {
    background: #1f9ce2;
    box-shadow:0 0 10px 0 rgba(0,0,0,0.50);
    color: #FFFFFF;
}

.tp-content-icon {
    width: 147px;
    height: 147px;
}

