{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/application.css') }}">
{% endblock %}

{% block title %}极光宝盒 App{% endblock %}

{% block navbar %}
    <div id="navigationbar">{{ super() }}</div>

{% endblock %}

{% block content %}
    <div class="row-img">
            <div class="container-fluid mainImage-Container">
                <img class="mainImage" src="/static/images/application-backgroudimg.png">
            </div>
    </div>
   <div class="container">
       <p id="download-title" class="jbox-font">下载极光宝盒app</p>
   </div>

    <div class="container" style="margin-top: 50px;">


        <div class="row">
            <div class="col-md-6">
                <div id="ios" class="icon-background">
                    <img src="/static/images/ios.png">
                </div>
            </div>
            <div class="col-md-6">
                <div id="android" class="icon-background">
                    <img src="/static/images/android.png">
                </div>
            </div>
        </div>
    </div>
        <div class="row-layer">


        </div>
{#    </div>#}

    <script>
        function click_iOS() {
            window.location.href = "http://www.baidu.com";
        }

        function click_android() {
            window.location.href = "http://www.baidu.com";
        }
    </script>
{% endblock %}
