{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Index{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>下载极光宝盒app</h1>
    <button onclick="click_iOS()">iOS</button>
    <button onclick="click_android()">android</button>
</div>
    <script>
        function click_iOS() {
            window.location.href = "http://www.baidu.com";
        }

        function click_android() {
            window.location.href = "http://www.baidu.com";
        }
    </script>
{% endblock %}
