{% extends "bootstrap/base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
{% endblock %}

{% block title %}极光宝盒{% endblock %}

{% block navbar %}
    <div id="navbar" class="navigator base-navigator">
        <div class="left-navigator">
            <img id="logo" src="/static/images/JBoxicon.png" href="{{ url_for('main.index') }}">
{#            <a id="jbox" class="jbox-font" href="{{ url_for('main.index') }}">JBox</a>#}
        </div>
        <div class="manage-navigator-right">
            <a id="app" class="jbox-font nav-font" href="{{ url_for('main.application') }}">极光宝盒app</a>
            <a id="api" class="jbox-font nav-font" href="{{ url_for('main.document') }}">api文档</a>
            <a class="jbox-font nav-font" href="{{ url_for('main.guide') }}">guide</a>
            {% if 'qq_token' in session %}{# current_user.is_authenticated #}
                <a id="manage" class="jbox-font" href="{{ url_for('auth.manage') }}">管理</a>
            {% endif %}
            <div id="nav-divider"></div>
            {% if 'qq_token' in session %}{# current_user.is_authenticated #}
                {% if developer %}
                    {% if  developer.avatar %}
                        <img id="avatar" src="/static/images/{{ developer.avatar }}">
                        <a id="dev_name" class="jbox-font dropdown-toggle" href="{{ url_for('auth.profile') }}">
                            {{ developer.username }}
                        </a>
                    {% else %}
                        <img id="avatar" src="/static/images/DefaultHead.png">
                        <a id="dev_name" class="jbox-font dropdown-toggle" href="{{ url_for('auth.profile') }}">
                            {{ developer.username }}
                        </a>
                    {% endif %}
                {% else %}
                    <img id="avatar" src="/static/images/bear.png">
                    <a id="dev_name" class="jbox-font dropdown-toggle" href="{{ url_for('auth.profile') }}">Devname</a>
                {% endif %}

                <a class="jbox-font nav-font" href="{{ url_for('main.logout') }}">登出</a>
            {% else %}
                <a id="login" class="jbox-font" href="{{ url_for('main.login') }}">登录</a>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        {% block page_content %}{% endblock %}
    </div>
{% endblock %}