{% extends "bootstrap/base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base_manage.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename= 'js/jquery.min.js') }}"></script>
{% endblock %}

{% block title %}极光宝盒{% endblock %}

{% block navbar %}

    <div id="navbar" class="navigator manage-navigator">
        <div class="left-navigator">
            <div class="left-navigator">
                <img id="logo" src="/static/images/icon.png">
                <a id="jbox" class="jbox-font" href="{{ url_for('main.index') }}">JBox</a>
            </div>
        </div>
        <div class="manage-navigator-right">
            <a id="app" class="jbox-font nav-font" href="{{ url_for('main.application') }}">极光宝盒 App</a>
            <a id="api" class="jbox-font nav-font" href="{{ url_for('main.document') }}">Api 文档</a>
            <a class="jbox-font nav-font" href="{{ url_for('main.guide') }}">Guide</a>
            <button id="manage-btn" type="button" onclick="window.location.href='{{ url_for('auth.manage') }}'">
                管理
            </button>
            <div id="nav-divider"></div>
            {% if current_user.is_authenticated %}
                <img id="avatar" src="/static/images/bear.png">
                <a id="dev_name" class="jbox-font dropdown-toggle" href="{{ url_for('auth.profile') }}">Devname</a>
                <a class="jbox-font nav-font" href="{{ url_for('main.guide') }}">登出</a>
            {% else %}
                <a id="login" class="jbox-font" href="{{ url_for('main.login') }}">登录</a>
            {% endif %}

        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        {% block page_content %}{% endblock %}
    </div>
{% endblock %}

<script type="text/javascript">
    $(document).ready(function () {
        $(document).off('click.bs.dropdown.data-api');
        dropdownOpen();
    });

    function dropdownOpen() {
        $('#dev_name').mouseover(function () {
            $(this).addClass('open');
        }).mouseout(function () {
            $(this).removeClass('open');
        })
    }
</script>