{% extends "bootstrap/base.html" %}
{% block title %}极光宝盒{% endblock %}
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
         <div class="container">
             <div class="navbar-header">
                 <button type="button" class="navbar-toggle"
                  data-toggle="collapse" data-target=".navbar-collapse">
                     <span class="sr-only">Toggle navigation</span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                 </button>
                 <a class="navbar-brand" href="/">首页</a>
             </div>
             <div class="navbar-collapse collapse">
                 <ul class="nav navbar-nav">
                     <li><a href="/">API文档</a></li>
                 </ul>
                 <ul class="nav navbar-nav">
                     <li><a href="/">guide</a></li>
                 </ul>
                 <ul class="nav navbar-nav">
                     <li><a href="/">登录</a></li>
                 </ul>
             </div>
         </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% block page_content %}{% endblock %}
</div>
{% endblock %}