{% extends 'base.html' %}

{% block title %}Guide
{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/guide.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename= 'js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/jquery.imgareaselect.pack.js') }}"></script>
{% endblock %}

{% block navbar %}
    <div id="navigationbar"></div>
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="col-lg-2">

    </div>
    <div id="contentBody">
        <div class="row-layer segment">
            <input id="leftItem" class="segmentItem" type="button" value="JBox Web"/>
            <input id="rightItem" class="segmentItem" type="button" value="JBox APP"/>
        </div>
        <div id="webContent" class="content">
            <div class="mainTitle">极光宝盒 Ｗeb 使用指导</div>
            <div class="subTitle">下载安装极光宝盒 app</div>
            <img src="/static/images/appPageImg.png">
            <div class="subTitle">新建自定义集成</div>
            <img src="/static/images/manageImg.png">

            <div class="subTitle">新建集成后会获得二维码和 webhook url</div>
            <img src="/static/images/channelPageImage.png">
            <div class="description">需要提供该二维码给客户扫码</div>
            <img src="/static/images/webhookImg.png">
            <div class="description">使用 webhook api调用 send message api 给客户发送消息</div>
        </div>

        <div id="appContent" class="content">
            <div class="mainTitle">极光宝盒 App 使用指导</div>
            <div class="subTitle">添加channel</div>
            <p style="text-align: center"><img src="/static/images/jboxAppAdd.png"></p>

            <div class="subTitle">可以扫描极光宝盒网页上的 频道、开发者二维码</div>
            <p style="text-align: center"><img src="/static/images/jboxAppscan.png"></p>

            <div class="subTitle">如果扫描的是 channel 二维码，则会直接订阅该 channel，
                如果扫描的是开发者二维码，则可以订阅开发者帐号下所有的
                channal，可以订阅你感兴趣的 channel。
                下图是扫描二维码后跳转的界面（开发者详情页面）
            </div>
            <p style="text-align: center"><img src="/static/images/jboxAppkeyPadge.png"></p>

            <div class="subTitle">可以点击编辑按钮，删除已订阅的 channel</div>
            <p style="text-align: center"><img src="/static/images/jboxAppToEdit.png"></p>

            <div class="subTitle">点击如下按钮，可以跳转到开发者详情页面，
                订阅需要订阅的channel
            </div>
            <p style="text-align: center"><img src="/static/images/jboxAppToAppkey.png"></p>
            <p style="text-align: center"><img src="/static/images/jboxAppkeyPadge.png"></p>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#appContent").fadeOut();
            $("#webContent").fadeIn();
            $("#leftItem").toggleClass('active');
            $("#leftItem").click(function () {
                $("#webContent").fadeIn();
                $("#appContent").fadeOut();
                $("#rightItem").toggleClass('active');
                $("#leftItem").toggleClass('active');
            });

            $("#rightItem").click(function () {
                $("#appContent").fadeIn();
                $("#webContent").fadeOut();
                $("#rightItem").toggleClass('active');
                $("#leftItem").toggleClass('active');
            });
        });
    </script>
{% endblock %}