{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename= 'js/jquery.min.js') }}"></script>
{#    <script type="text/javascript" src="{{ url_for('static', filename = 'js/jquery.imgareaselect.pack.js') }}"></script>#}
{% endblock %}

{% block title %}Index{% endblock %}


{% block navbar %}
    <div id="navigationbar">{{ super() }}</div>
{% endblock %}

{% block body %}
    {{ super() }}
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
    {% endfor %}
{% endblock %}

{% block content %}

    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div class="inner cover">
                    <div class="" style="padding-top: 100px;">
                    <p id="description" class="jbox-font"><b>
                        纯粹的通知解决方案<br><br>
                        简单配置 | 消息聚合 | 即刻送达<br>
                        </br>
                    </p>
                    </div>
                    </div>
                    <div class="lead">
                        <img id="jbox-bear" src="/static/images/jbox-bear.png">
                    </div>
            </div>
        </div>

    </div>
    <div style="color:#FFFFFF">
        {{ super() }}
    </div>
    <script type="text/javascript">
        console.log(window.location.hash);
        console.log(window.location.hash);
    </script>
{% endblock %}
