{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{#    <script type="text/javascript" src="{{ url_for('static', filename = 'js/jquery.imgareaselect.pack.js') }}"></script>#}
{% endblock %}

{% block title %}Index{% endblock %}

{% block body %}
    {{ super() }}
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
    {% endfor %}
{% endblock %}

{% block content %}
    <div class="column">
        <div class="content-text">
            <p id="description" class="jbox-font"><b>极光宝盒，<br>
                你的消息管理中心<br>
                只需要简单配置<br>
                就能在 iOS 、android 端生成你的专属App。
            </b>
            </p>
        </div>
        <img id="jbox-bear" src="/static/images/jbox-bear.png">
    </div>
    <script type="text/javascript">
        console.log(window.location.hash)
        console.log(window.location.hash)
    </script>
{% endblock %}
